In [9]:
#!pip install pymysql sqlalchemy python-dotenv
import os
import dotenv
import sqlalchemy
import pandas as pd

#carico il file di configurazione
#dotenv.load_dotenv("config_env.txt")
dotenv.load_dotenv(override = True, dotenv_path = "config_titanic.txt") #caricamento del file .env

#recupero i dati al suo interno e li inserisco dentro le variabile nello script
username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

print("username e uguale a:", username)

#costruire la conessione (stringa)
connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"

try:
    #provo a creare un motore di connessione
    db_engine = sqlalchemy.create_engine(connection_string)
    #mi provo a collegare al database
    print("sono collegato al database!")
    query = "SELECT * FROM titanic"  # stringa che contiene un'interrogazione SQL
    df = pd.read_sql(query, db_engine) # utilizziamo pandas per leggere il result set del mio statement SQL
    print(df)
 

except Exception as e:
    # se non ci riesco lancio un eccezione 
    print("Errore di connessione al db")

username e uguale a: studente_dapt
sono collegato al database!
      PassengerId  PClass                                               Name  \
0               1       3                            Braund, Mr. Owen Harris
1               2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2               3       3                             Heikkinen, Miss. Laina
3               4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4               5       3                           Allen, Mr. William Henry
...           ...     ...                                                ...
1304         1305       3                                 Spector, Mr. Woolf
1305         1306       1                       Oliva y Ocana, Dona. Fermina
1306         1307       3                       Saether, Mr. Simon Sivertsen
1307         1308       3                                Ware, Mr. Frederick
1308         1309       3                           Peter, Master. Michael J

         Sex   Age  SibSp  Parch              Ticket    Fare Cabin Embarked  \
0       male  22.0      1      0           A/5 21171    7.25              S
1     female  38.0      1      0            PC 17599   71.28   C85        C
2     female  26.0      0      0    STON/O2. 3101282    7.93              S
3     female  35.0      1      0              113803   53.10  C123        S
4       male  35.0      0      0              373450    8.05              S
...      ...   ...    ...    ...                 ...     ...   ...      ...
1304    male   0.0      0      0           A.5. 3236    8.05              S
1305  female  39.0      0      0            PC 17758  108.90  C105        C
1306    male  38.5      0      0  SOTON/O.Q. 3101262    7.25              S
1307    male   0.0      0      0              359309    8.05              S
1308    male   0.0      1      1                2668   22.36              C

      Survived EmbarkDate
0            0  10-4-1912
1            1  11-4-1912
2            1  10-4-1912
3            1  10-4-1912
4            0  10-4-1912
...        ...        ...
1304         0  10-4-1912
1305         1  11-4-1912
1306         0  10-4-1912
1307         0  10-4-1912
1308         1  11-4-1912

[1309 rows x 13 columns]